.qwe {
    width: 100px;
    height: 100px;
    transition: background 0.2s linear;
}

.qwe:hover {
    background: linear-gradient(to right, #641660, #f0bd6e);
    transition: background 0.2s linear;
}